fov
	/**
	 * @fileoverview ${1:description}
	 * @author `g:snips_author`
	 * @version ${3:version}
	 */
	${4}
fdoc
	/**
	 * ${1:description}
	 * 
	 * @returns {${2:return_type}} ${3:return_description}
	 */
	${4}

vdoc
	/**
	 * ${1:description}
	 * 
	 * @type {${2:type}}
	 */
	${3}

ret
	@returns {${1:type}} ${2:description}
	${3}

param
	@param {${1:type}} ${2:description}
	${3}
